*{
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
}

body{
	background-image: url('images/bg.jpg');
}

div.body{
	margin-top: 10px;
	border: none;
	border-radius: 20px;
	width: 750px;
	min-height: 700px;
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 10px;
}

div.nav{
	border-bottom: 1px dotted black;
	width: 700px;
	height: 230px;
}

div.nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}

div.nav a:hover{
	color: #f7921c;
}

div.content{
	border: none;
	width: 700px;
	margin: 5px;
}

div.user{
	text-align: right;
}

div.flash{
	width: 500px;
	height: 300px;
	border: 1px solid black;
}

#mycarousel{
	position: relative;
	width: 700px;
	height: 400px;
}

#mycarousel img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 700px;
	height: 400px;
}

a:link, a:active, a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

table.editformtable{
	width: 450px;
}

table.editformtable td{
	width: 300px;
	border: none;
}

table.editformtable td.title{
	width: 200px;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

table.editformtable input{
	width: 280px;
}

table.prodtable{
	width: 300px;
}

table.prodtable td{
	border: 1px solid black;
	margin: 2px;
}

table.menutable td{
	border: none;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

table.menutable td.menupics{
	width: 535px;
	padding: 0px;
	margin: 0px;
}

table.menutable td.menupics img{
	border: 1px solid white;
	width: 265px;
}

h1{
	border-bottom: 1px solid black;
}

.carousel-inner{
	background-color:rgba(0,0,0,.8);
}

.carousel-inner img{
	height:300px;
	background-color:black;
}

#adminproducts img, #adminmembers img, #adminsummary img{
	border-radius: 20px;
	margin: 10px;
}

img.gallery{
	width: 300px;
}

div.customlink{
	width: 700px;
	height: 50px;
	background-image: url('images/custom_button.png');
}

div.customlink:hover{
	width: 700px;
	height: 50px;
	background-image: url('images/custom_button_hover.png');
}

table.createtable{
	width: 600px;
	border: 2px solid black;
}

table.createtable td{
	vertical-align: top;
	padding: 10px;
	border: 1px solid black;
}

table.logintable{
	width: 500px;
	border:  none;
	padding: 0px;
	margin: 0px;
}

table.logintable td{
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

table.logintable td input{
	width: 150px;
	padding: 1px;
	margin: 0px;
}

table.logintable td.input{
	width: 350px;
}

table.logintable td.input input{
	width: 350px;
	height: 28px;
	padding: 2px;
	margin: 3px;
	border-radius: 4px;
}

text.error{
	color: red;
	font-weight: bold;
}

table.viewtable td{
	padding: 3px;
	background-color: #e1e1e1;
	width: 300px;
}

table.viewtable td.viewtitle{
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	background-color: #ffffff;
	width: 120px;
}

h2{
	font-size: 14px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	letter-spacing: 2px;
	text-transform: uppercase;
}

table.traytable{
	width: 450px;
}

table.traytable td{
	padding: 3px;
}

table.traytable td.title{
	width: 200px;
	text-align: right;
	font-weight: bold;
}

table.traytable td input{
	width: 250px;
	padding: 2px;
}