*{
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
}

body{
	background-image: url('images/bg.jpg');
}

div.body{
	margin-top: 10px;
	border: 3px solid #000000;
	border-radius: 20px;
	width: 750px;
	min-height: 700px;
	background-color: #ffffff;
	padding-bottom: 10px;
}

div.nav{
	border-bottom: 1px dotted black;
	width: 700px;
	height: 230px;
}

div.nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}

div.nav a:hover{
	color: #f7921c;
}

div.content{
	border: none;
	width: 700px;
	margin: 5px;
}

div.user{
	text-align: right;
}

div.flash{
	width: 500px;
	height: 300px;
	border: 1px solid black;
}

a:link, a:active, a:visited{
	text-decoration: none;
}

table.editformtable{
	width: 450px;
}

table.editformtable td{
	width: 300px;
	border: none;
}

table.editformtable td.title{
	width: 200px;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

table.editformtable input{
	width: 280px;
}

table.prodtable{
	width: 300px;
}

table.prodtable td{
	border: 1px solid black;
	margin: 2px;
}

table.menutable td{
	border: 1px solid black;
	padding: 10px;
	width: 400px;
	vertical-align: top;
}

.carousel-inner{
	background-color:rgba(0,0,0,.8);
}

.carousel-inner img{
	height:300px;
	background-color:black;
}

#adminproducts img, #adminmembers img, #adminsummary img{
	border-radius: 20px;
	margin: 10px;
}

img.gallery{
	width: 300px;
}

td.menupic{
	border: none;
	padding: 0px;
	text-align: center;
}

td.menupic img{
	width: 320px;
}